AnperoFrontend/Web References/WebService/AnperoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAdsSlide">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdsSlideResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdsSlideResult" type="tns:ArrayOfAds" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAds">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ads" nillable="true" type="tns:Ads" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ads">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClickUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImagesUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCommonConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommonConfigResult" type="tns:Webconfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Webconfig">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MenuList" type="tns:ArrayOfMenu" />
          <s:element minOccurs="0" maxOccurs="1" name="FaceBookLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Skype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HotLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageScript" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Footer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Logo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCategoryList" type="tns:ArrayOfProductCategory" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMenu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Menu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChidMenu" type="tns:ArrayOfMenu" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Prioty" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tittle" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChildCategory" type="tns:ArrayOfProductCategory" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentCategoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="priceFrom" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="priceTo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="curentPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSite" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="keyWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="order" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="minPrioty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchProductResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Item" type="tns:ArrayOfProductItem" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductItem" nillable="true" type="tns:ProductItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OriginID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CatName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SalePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Images" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CatID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentCatName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Warranty" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSale" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleEndTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Script" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyWord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsInstock" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ImagesSlide" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductByParentCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentCategoryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="curentPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSite" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minPrioty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByParentCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByParentCategoryResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CategoryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="curentPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSite" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minPrioty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByCategoryResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSaleProductResult" type="tns:ArrayOfProductItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDetai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDetaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductDetaiResult" type="tns:ProductItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdsSlideSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdsSlide" />
  </wsdl:message>
  <wsdl:message name="GetAdsSlideSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdsSlideResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommonConfigSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommonConfig" />
  </wsdl:message>
  <wsdl:message name="GetCommonConfigSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommonConfigResponse" />
  </wsdl:message>
  <wsdl:message name="SearchProductSoapIn">
    <wsdl:part name="parameters" element="tns:SearchProduct" />
  </wsdl:message>
  <wsdl:message name="SearchProductSoapOut">
    <wsdl:part name="parameters" element="tns:SearchProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByParentCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetProductByParentCategory" />
  </wsdl:message>
  <wsdl:message name="GetProductByParentCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByParentCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetProductByCategory" />
  </wsdl:message>
  <wsdl:message name="GetProductByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetSaleProduct" />
  </wsdl:message>
  <wsdl:message name="GetSaleProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetSaleProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductDetaiSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductDetai" />
  </wsdl:message>
  <wsdl:message name="GetProductDetaiSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductDetaiResponse" />
  </wsdl:message>
  <wsdl:portType name="AnperoServiceSoap">
    <wsdl:operation name="GetAdsSlide">
      <wsdl:input message="tns:GetAdsSlideSoapIn" />
      <wsdl:output message="tns:GetAdsSlideSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommonConfig">
      <wsdl:input message="tns:GetCommonConfigSoapIn" />
      <wsdl:output message="tns:GetCommonConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <wsdl:input message="tns:SearchProductSoapIn" />
      <wsdl:output message="tns:SearchProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByParentCategory">
      <wsdl:input message="tns:GetProductByParentCategorySoapIn" />
      <wsdl:output message="tns:GetProductByParentCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <wsdl:input message="tns:GetProductByCategorySoapIn" />
      <wsdl:output message="tns:GetProductByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleProduct">
      <wsdl:input message="tns:GetSaleProductSoapIn" />
      <wsdl:output message="tns:GetSaleProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetai">
      <wsdl:input message="tns:GetProductDetaiSoapIn" />
      <wsdl:output message="tns:GetProductDetaiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnperoServiceSoap" type="tns:AnperoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdsSlide">
      <soap:operation soapAction="http://tempuri.org/GetAdsSlide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonConfig">
      <soap:operation soapAction="http://tempuri.org/GetCommonConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <soap:operation soapAction="http://tempuri.org/SearchProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByParentCategory">
      <soap:operation soapAction="http://tempuri.org/GetProductByParentCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <soap:operation soapAction="http://tempuri.org/GetProductByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleProduct">
      <soap:operation soapAction="http://tempuri.org/GetSaleProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetai">
      <soap:operation soapAction="http://tempuri.org/GetProductDetai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnperoServiceSoap12" type="tns:AnperoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdsSlide">
      <soap12:operation soapAction="http://tempuri.org/GetAdsSlide" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonConfig">
      <soap12:operation soapAction="http://tempuri.org/GetCommonConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <soap12:operation soapAction="http://tempuri.org/SearchProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByParentCategory">
      <soap12:operation soapAction="http://tempuri.org/GetProductByParentCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <soap12:operation soapAction="http://tempuri.org/GetProductByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleProduct">
      <soap12:operation soapAction="http://tempuri.org/GetSaleProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetai">
      <soap12:operation soapAction="http://tempuri.org/GetProductDetai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnperoService">
    <wsdl:port name="AnperoServiceSoap" binding="tns:AnperoServiceSoap">
      <soap:address location="http://wsv.anpero.com/AnperoService.asmx" />
    </wsdl:port>
    <wsdl:port name="AnperoServiceSoap12" binding="tns:AnperoServiceSoap12">
      <soap12:address location="http://wsv.anpero.com/AnperoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>