10_Theme_09_v2/Web References/WebService/AnperoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPaymentAPIConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentAPIConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaymentAPIConfigResult" type="tns:ArrayOfPaymentConfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPaymentConfig">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PaymentConfig" nillable="true" type="tns:PaymentConfig" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PaymentConfig">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="St" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MerchantId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MerchantPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Isdefault" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="St1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentFee" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateOrderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentVendor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateOrderStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationResult" type="tns:ArrayOfLocation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Location">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="addContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="detail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addContactResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchArticle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CategoryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="curentPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSite" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minPrioty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchArticleResult" type="tns:SearchArticleResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchArticleResults">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemList" type="tns:ArrayOfBlogItem" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultsCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBlogItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BlogItem" nillable="true" type="tns:BlogItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BlogItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShotDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Thumb" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TagKhongDau" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ViewTime" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetArticleById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticleByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArticleByIdResult" type="tns:BlogItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="st" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="shippingMethod" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="modeDetail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrder2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="st" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="shippingMethod" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="modeDetail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrder2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddOrder2Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomAdsSlide">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numberOfRecord" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomAdsSlideResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRandomAdsSlideResult" type="tns:ArrayOfAds" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAds">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ads" nillable="true" type="tns:Ads" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ads">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClickUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImagesUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAdsSlide">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdsSlideResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdsSlideResult" type="tns:ArrayOfAds" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommonConfigResult" type="tns:Webconfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Webconfig">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MenuList" type="tns:ArrayOfMenu" />
          <s:element minOccurs="0" maxOccurs="1" name="FaceBookLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Skype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HotLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageScript" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Footer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Logo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCategoryList" type="tns:ArrayOfProductCategory" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductGroupList" type="tns:ArrayOfProductGroup" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnperoPlugin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ThemeOption" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMenu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Menu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChidMenu" type="tns:ArrayOfMenu" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Prioty" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tittle" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChildCategory" type="tns:ArrayOfProductCategory" />
          <s:element minOccurs="0" maxOccurs="1" name="Images" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductGroup" nillable="true" type="tns:ProductGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductGroup">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBlogCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlogCategoryResult" type="tns:ArrayOfBlogCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBlogCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BlogCategory" nillable="true" type="tns:BlogCategory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BlogCategory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Thumb" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentCategoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="priceFrom" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="priceTo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="curentPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSite" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="keyWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="order" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="minPrioty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchProductResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Item" type="tns:ArrayOfProductItem" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductItem" nillable="true" type="tns:ProductItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OriginID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CatName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SalePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Images" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CatID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentCatName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Warranty" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSale" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleEndTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Script" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyWord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsInstock" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ImagesSlide" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Tag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TagLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Specifications" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchProductByLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentCategoryId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="priceFrom" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="priceTo" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="curentPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSite" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="province" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="district" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="acreageFrom" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="acreageTo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProductByLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchProductByLocationResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByParentCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentCategoryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="curentPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSite" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minPrioty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByParentCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByParentCategoryResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CategoryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="curentPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSite" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minPrioty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByCategoryResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="GroupId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="curentPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSite" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minPrioty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByGroupResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSaleProductResult" type="tns:ArrayOfProductItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductDetailResult" type="tns:ProductItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWebContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="contentId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWebContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWebContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPaymentAPIConfigSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentAPIConfig" />
  </wsdl:message>
  <wsdl:message name="GetPaymentAPIConfigSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentAPIConfigResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="GetLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="addContactSoapIn">
    <wsdl:part name="parameters" element="tns:addContact" />
  </wsdl:message>
  <wsdl:message name="addContactSoapOut">
    <wsdl:part name="parameters" element="tns:addContactResponse" />
  </wsdl:message>
  <wsdl:message name="SearchArticleSoapIn">
    <wsdl:part name="parameters" element="tns:SearchArticle" />
  </wsdl:message>
  <wsdl:message name="SearchArticleSoapOut">
    <wsdl:part name="parameters" element="tns:SearchArticleResponse" />
  </wsdl:message>
  <wsdl:message name="GetArticleByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetArticleById" />
  </wsdl:message>
  <wsdl:message name="GetArticleByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetArticleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="AddOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrder2SoapIn">
    <wsdl:part name="parameters" element="tns:AddOrder2" />
  </wsdl:message>
  <wsdl:message name="AddOrder2SoapOut">
    <wsdl:part name="parameters" element="tns:AddOrder2Response" />
  </wsdl:message>
  <wsdl:message name="GetRandomAdsSlideSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandomAdsSlide" />
  </wsdl:message>
  <wsdl:message name="GetRandomAdsSlideSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomAdsSlideResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdsSlideSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdsSlide" />
  </wsdl:message>
  <wsdl:message name="GetAdsSlideSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdsSlideResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommonConfigSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommonConfig" />
  </wsdl:message>
  <wsdl:message name="GetCommonConfigSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommonConfigResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlogCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogCategory" />
  </wsdl:message>
  <wsdl:message name="GetBlogCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="SearchProductSoapIn">
    <wsdl:part name="parameters" element="tns:SearchProduct" />
  </wsdl:message>
  <wsdl:message name="SearchProductSoapOut">
    <wsdl:part name="parameters" element="tns:SearchProductResponse" />
  </wsdl:message>
  <wsdl:message name="SearchProductByLocationSoapIn">
    <wsdl:part name="parameters" element="tns:SearchProductByLocation" />
  </wsdl:message>
  <wsdl:message name="SearchProductByLocationSoapOut">
    <wsdl:part name="parameters" element="tns:SearchProductByLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByParentCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetProductByParentCategory" />
  </wsdl:message>
  <wsdl:message name="GetProductByParentCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByParentCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetProductByCategory" />
  </wsdl:message>
  <wsdl:message name="GetProductByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductByGroup" />
  </wsdl:message>
  <wsdl:message name="GetProductByGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetSaleProduct" />
  </wsdl:message>
  <wsdl:message name="GetSaleProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetSaleProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductDetail" />
  </wsdl:message>
  <wsdl:message name="GetProductDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetWebContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetWebContent" />
  </wsdl:message>
  <wsdl:message name="GetWebContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetWebContentResponse" />
  </wsdl:message>
  <wsdl:portType name="AnperoServiceSoap">
    <wsdl:operation name="GetPaymentAPIConfig">
      <wsdl:input message="tns:GetPaymentAPIConfigSoapIn" />
      <wsdl:output message="tns:GetPaymentAPIConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <wsdl:input message="tns:UpdateOrderStatusSoapIn" />
      <wsdl:output message="tns:UpdateOrderStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input message="tns:GetLocationSoapIn" />
      <wsdl:output message="tns:GetLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <wsdl:input message="tns:addContactSoapIn" />
      <wsdl:output message="tns:addContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchArticle">
      <wsdl:input message="tns:SearchArticleSoapIn" />
      <wsdl:output message="tns:SearchArticleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetArticleById">
      <wsdl:input message="tns:GetArticleByIdSoapIn" />
      <wsdl:output message="tns:GetArticleByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input message="tns:AddOrderSoapIn" />
      <wsdl:output message="tns:AddOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder2">
      <wsdl:input message="tns:AddOrder2SoapIn" />
      <wsdl:output message="tns:AddOrder2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomAdsSlide">
      <wsdl:input message="tns:GetRandomAdsSlideSoapIn" />
      <wsdl:output message="tns:GetRandomAdsSlideSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdsSlide">
      <wsdl:input message="tns:GetAdsSlideSoapIn" />
      <wsdl:output message="tns:GetAdsSlideSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommonConfig">
      <wsdl:input message="tns:GetCommonConfigSoapIn" />
      <wsdl:output message="tns:GetCommonConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogCategory">
      <wsdl:input message="tns:GetBlogCategorySoapIn" />
      <wsdl:output message="tns:GetBlogCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <wsdl:input message="tns:SearchProductSoapIn" />
      <wsdl:output message="tns:SearchProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchProductByLocation">
      <wsdl:input message="tns:SearchProductByLocationSoapIn" />
      <wsdl:output message="tns:SearchProductByLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByParentCategory">
      <wsdl:input message="tns:GetProductByParentCategorySoapIn" />
      <wsdl:output message="tns:GetProductByParentCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <wsdl:input message="tns:GetProductByCategorySoapIn" />
      <wsdl:output message="tns:GetProductByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByGroup">
      <wsdl:input message="tns:GetProductByGroupSoapIn" />
      <wsdl:output message="tns:GetProductByGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleProduct">
      <wsdl:input message="tns:GetSaleProductSoapIn" />
      <wsdl:output message="tns:GetSaleProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetail">
      <wsdl:input message="tns:GetProductDetailSoapIn" />
      <wsdl:output message="tns:GetProductDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWebContent">
      <wsdl:input message="tns:GetWebContentSoapIn" />
      <wsdl:output message="tns:GetWebContentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnperoServiceSoap" type="tns:AnperoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPaymentAPIConfig">
      <soap:operation soapAction="http://tempuri.org/GetPaymentAPIConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap:operation soapAction="http://tempuri.org/GetLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <soap:operation soapAction="http://tempuri.org/addContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchArticle">
      <soap:operation soapAction="http://tempuri.org/SearchArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticleById">
      <soap:operation soapAction="http://tempuri.org/GetArticleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder2">
      <soap:operation soapAction="http://tempuri.org/AddOrder2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomAdsSlide">
      <soap:operation soapAction="http://tempuri.org/GetRandomAdsSlide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdsSlide">
      <soap:operation soapAction="http://tempuri.org/GetAdsSlide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonConfig">
      <soap:operation soapAction="http://tempuri.org/GetCommonConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogCategory">
      <soap:operation soapAction="http://tempuri.org/GetBlogCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <soap:operation soapAction="http://tempuri.org/SearchProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProductByLocation">
      <soap:operation soapAction="http://tempuri.org/SearchProductByLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByParentCategory">
      <soap:operation soapAction="http://tempuri.org/GetProductByParentCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <soap:operation soapAction="http://tempuri.org/GetProductByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByGroup">
      <soap:operation soapAction="http://tempuri.org/GetProductByGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleProduct">
      <soap:operation soapAction="http://tempuri.org/GetSaleProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetail">
      <soap:operation soapAction="http://tempuri.org/GetProductDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebContent">
      <soap:operation soapAction="http://tempuri.org/GetWebContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnperoServiceSoap12" type="tns:AnperoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPaymentAPIConfig">
      <soap12:operation soapAction="http://tempuri.org/GetPaymentAPIConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap12:operation soapAction="http://tempuri.org/GetLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <soap12:operation soapAction="http://tempuri.org/addContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchArticle">
      <soap12:operation soapAction="http://tempuri.org/SearchArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticleById">
      <soap12:operation soapAction="http://tempuri.org/GetArticleById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap12:operation soapAction="http://tempuri.org/AddOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder2">
      <soap12:operation soapAction="http://tempuri.org/AddOrder2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomAdsSlide">
      <soap12:operation soapAction="http://tempuri.org/GetRandomAdsSlide" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdsSlide">
      <soap12:operation soapAction="http://tempuri.org/GetAdsSlide" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonConfig">
      <soap12:operation soapAction="http://tempuri.org/GetCommonConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogCategory">
      <soap12:operation soapAction="http://tempuri.org/GetBlogCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <soap12:operation soapAction="http://tempuri.org/SearchProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProductByLocation">
      <soap12:operation soapAction="http://tempuri.org/SearchProductByLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByParentCategory">
      <soap12:operation soapAction="http://tempuri.org/GetProductByParentCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <soap12:operation soapAction="http://tempuri.org/GetProductByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByGroup">
      <soap12:operation soapAction="http://tempuri.org/GetProductByGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleProduct">
      <soap12:operation soapAction="http://tempuri.org/GetSaleProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetail">
      <soap12:operation soapAction="http://tempuri.org/GetProductDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebContent">
      <soap12:operation soapAction="http://tempuri.org/GetWebContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnperoService">
    <wsdl:port name="AnperoServiceSoap" binding="tns:AnperoServiceSoap">
      <soap:address location="http://wsv.anpero.com/AnperoService.asmx" />
    </wsdl:port>
    <wsdl:port name="AnperoServiceSoap12" binding="tns:AnperoServiceSoap12">
      <soap12:address location="http://wsv.anpero.com/AnperoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>