AnperoFrontend/Web References/AnperoService/AnperoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCommonConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommonConfigResult" type="tns:Webconfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Webconfig">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MenuList" type="tns:ArrayOfMenu" />
          <s:element minOccurs="0" maxOccurs="1" name="FaceBookLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Skype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HotLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageScript" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Footer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Logo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMenu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Menu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChidMenu" type="tns:ArrayOfMenu" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Prioty" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tittle" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCommonConfigSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommonConfig" />
  </wsdl:message>
  <wsdl:message name="GetCommonConfigSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommonConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="AnperoServiceSoap">
    <wsdl:operation name="GetCommonConfig">
      <wsdl:input message="tns:GetCommonConfigSoapIn" />
      <wsdl:output message="tns:GetCommonConfigSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnperoServiceSoap" type="tns:AnperoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommonConfig">
      <soap:operation soapAction="http://tempuri.org/GetCommonConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnperoServiceSoap12" type="tns:AnperoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommonConfig">
      <soap12:operation soapAction="http://tempuri.org/GetCommonConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnperoService">
    <wsdl:port name="AnperoServiceSoap" binding="tns:AnperoServiceSoap">
      <soap:address location="http://anpero.azurewebsites.net/AnperoService.asmx" />
    </wsdl:port>
    <wsdl:port name="AnperoServiceSoap12" binding="tns:AnperoServiceSoap12">
      <soap12:address location="http://anpero.azurewebsites.net/AnperoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>